@model GrecosQuestionnaire.ViewModel.LoginViewModel

@{
    ViewBag.Title = "User Login";
}

    <div class="container">
        <main role="main" class="pb-3 user-data">
            <div class="text-center">
                <h1 class="user-data_title">User Login</h1>
            </div>

            <div class="row" style="align-items:center">
                <div class="col-md-12" style="text-align:center">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="user-data_text -secondary -bolded -uppercase" asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="user-data_text -secondary -bolded -uppercase" asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="user-data_text -secondary -bolded -uppercase" asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Login</button>
                        <div>
                            <a asp-action="ForgotPassword">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>