@model GrecosQuestionnaire.Models.QuestionItemModel

@{
    ViewBag.Title = "Adding a question";
}

    <h2>Adding a question</h2>
@Html.ActionLink("Return to the list of question items", "Index", "QuestionItem")

@using (Html.BeginForm("Create", "QuestionItem", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    @Html.Partial("_Create", Model)
}