@model GrecosQuestionnaire.Models.QuestionModel

@{
    ViewBag.Title = "Dodawanie pytania";
}

<h2>Dodawanie pytania</h2>
@Html.ActionLink("Wróć do listy pytań", "Index", "Question")

@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    @Html.Partial("_Create", Model)
}
