
@{
    ViewBag.Title = "Ankieta";
}

<ul>


</ul>
<br />
<br />
<center>
    <h1>Dziękujemy za wzięcie udziału w konkursie.</h1>
    <h3>Na Pani/Pana skrzynkę e-mailową została wysłana wiadomość w celu weryfikacji adresu e-mail.</h3>
    <h3>Dopiero po potwierdzeniu e-maila Państwa zgłoszenie weźmie udział w konkursie.</h3>
</center>

<br />
<br />
<br />