@model IEnumerable<GrecosQuestionnaire.ViewModel.RoleViewModel>

@{
    ViewData["Title"] = "Role użytkowników";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Rola</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.RoleName
                </td>
            </tr>
        }
    </tbody>
</table>

